{% extends 'MyShopApp/basic.html' %} {% block title %} Checkout {% endblock %}
{% block body %}
<div class="container">
  <div class="col">
    <h2>Checkout - Review Your Cart items</h2>
    <div id="items">
      <ul class="list-group"></ul>
    </div>
    <a href={% url 'acknowledgement' %} type="button" class="btn btn-primary">Place Order</a>
  </div>
</div>
{% endblock %} {%block js%}
<script>
  if (localStorage.getItem('cart') == null) {
    var cart = {};
  } else {
    cart = JSON.parse(localStorage.getItem('cart'));
  }
  console.log(cart);
  var sum = 0;
  if ($.isEmptyObject(cart)) {
    // If object is empty
    mystr =
      '<p>Your cart is empty, please add some items before checking out ! </p>';
    $('#items').append(mystr);
  }

  for (item in cart) {
    let name = cart[item][1];
    let qty = cart[item][0];
    sum = sum + qty;
    mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                   ${name}
                    <span class="badge badge-primary badge-pill">${qty}</span>
                </li>`;
    $('#items').append(mystr);
  }
  document.getElementById('Cart').innerHTML = sum;
</script>
{%endblock%}
